//<----------------- BEGINNING OF KEYFRAMES FOR ANIMATION
@keyframes slideLeft {
    from {left: -375px}
    to {left: 0px}
}

@keyframes slideRight {
    from {left: 0px}
    to {left: -375px}
}
//<----------------- END OF KEYFRAMES FOR ANIMATION

.containerWithArrow{
    width: 375px;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    position: relative;
    left: 38px;

    
    
    
    .arrowContainer{
        position: relative;
        margin-top: 70px;
        background-image: url('./icons/hide-sidebar.svg');
        background: no-repeat;
        
        
        svg{
            position: relative;
            right: 10px;
            box-shadow: 0px 1px 3px gray;

            &:hover{
                cursor: pointer;
            }
        }
    }
    
    .sidebarContainer{  
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #2A2E43;
        position: relative;
        right: 10px;
        
        .directions{
            padding-left: 30px;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        
        .backbuttonContainer{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border-bottom: 2px solid gray;

            
            h6 {
                color: #00B2D9;
                font-weight: bold;
                padding-right: 0;

                &:hover{
                    cursor: pointer;
                }
            }

        }
        
        .startEndContainer{
            padding: 20px 0 30px 30px;
            
            p{
                margin: 0;
                font-size: 13px;
            }
            
            .startAndEnd{
                color: darkgray;
                margin-top: 10px;
            }
        }
        
        .sidebarOptions{ //<------------class for future options in sidebar
                margin: 20px 0px;
                background-color: white;
                height: 164px;
                p{
                    color: black;
                    text-align: left;
                    padding: 15px;
                    font-size: 12px;
                }
            }
    
        .routingBackButton{
            padding: 14.5px 30px;
            margin: 0;
        }
        
        .instruction{
            color: white;
            font-size: 12px;
            border-bottom: 1px solid gray;
            padding: 10px 20px 10px 30px;
            width: 90%;
            text-align: left;
            margin: 0;
        }

        .sidebarFooterContainer{
            
            #sidebarFooter{
                font-family: Arial, Helvetica, sans-serif;
                padding: 10px 20px;
                padding-left: 30px;
                text-align: left;
                font-size: 8px;
                font-weight: 0;
                color: darkgray;
            }
        }
        
        #directionsTitle{
            background: white;
            font-size: 18px;
            color: #2A2E43;
            width: 100%;
            // margin-top: 20px;
            text-align: left;
            padding: 10px 0px 10px 30px;
        }
        
        #startPointContainer{
            text-align: left;
            font-size: 12px;
            padding-left: 30px;
        }
        
        #destinationPointContainer{
            text-align: left;
            font-size: 12px;
            padding-left: 30px;
        }
        
        #estimatedTime{
            background-color: #2A2E43;
            color: white;
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            margin: 0;
        }
    }
}

.directions::-webkit-scrollbar{
    display: none;
}

// .somethingUseful{
//     position: absolute;
//     right: 20px;
// }

// .overlay-content{
//     animation: slide 1s;
//     height:100%;
//     // border: 5px solid red
// }
// .on{
//     height:100%;
//     // border: 5px solid red
// }
// .sidebarContainer{
//     height:100%;
//     // border: 5px solid red
// }

// .overlay open{
//     height:100%;
//     // border: 5px solid red

// }


