.sidebarContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
            
    .directions{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    

    .backbuttonContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 2px solid gray;
    }

    .startEndContainer{
        padding: 20px;

        p{
            margin: 0;
        }

        .startAndEnd{
            color: darkgray;
            margin-top: 10px;
        }
    }
    
    // .sidebarOptions{ //<------------class for future options in sidebar
    //     background-color: white;
    //     height: 10.25rem;
    //     p{
    //         color: black;
    //         text-align: left;
    //         padding: 15px;
    //     }
    // }

    .routingBackButton{
        padding: 12px 30px;
        margin: 0;
    }

    .instruction{
        color: white;
        font-size: 12px;
        border-bottom: 1px solid gray;
        padding: 10px 20px 10px 30px;
        width: 90%;
        text-align: left;
    }

    .sidebarFooterContainer{

        #sidebarFooter{
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px 20px;
            text-align: left;
            font-size: 8px;
            font-weight: 0;
            color: darkgray;
        }
    }

    #directionsTitle{
        font-size: 18px;
        color: white;
        width: 100%;
        margin: 0;
        text-align: left;
        padding: 20px 0 5px 20px;
    }

    #startPointContainer{
        text-align: left;
        font-size: 12px;
        padding-left: 30px;
    }

    #destinationPointContainer{
        text-align: left;
        font-size: 12px;
        padding-left: 30px;
    }

    #estimatedTime{
        background-color: #2A2E43;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        margin: 0;
    }
}
    

// #overlayNav{
//     // height:100%;
//     border: 5px solid red
// }

// .overlay-content{
//     height:100%;
//     border: 5px solid red
// }
// .on{
//     height:100%;
//     border: 5px solid red
// }
// .sidebarContainer{
//     // height:100%;
//     border: 5px solid red
// }

// .overlay open{
//     // height:100%;
//     border: 5px solid red

// }


