.hamburger-options-parent{
    display:flex;
    flex-direction: column;
    color: rgba(237, 238, 241, 0.95);
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

}



.dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    /* margin-left: 400px; */
}

.btn-success {
    color: #fff;
    background-color: white;
    border-color: white;
    height:50px;
}

.hamcolor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-left: 15px;
    padding-right: 25px;
    background: white;
    border-radius: 0px !important;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 53px;
    color: rgba(53, 195, 226, 0.95);
}

.hamcolor:hover {
    background: #2A2E43;
    color: rgba(53, 195, 226, 0.95);
}

.hamend {
    font-family: Heebo;
    font-size: 36px;
    font-weight: bold;
    color: #00B2D9;
}

/* .hammenu {
    margin-top: 5px;
} */

.dropdown-toggle-split::after, .dropright .dropdown-toggle-split::after, .dropup .dropdown-toggle-split::after {
    margin-left: 0;
    display: none;
}

.btn-group-vertical > .btn, .btn-group > .btn{
    display: flex;
    padding: 15px;
    padding-top: 9px;
    background-color: white;
    border: white;
    /* width: 100%; */
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: rgba(53, 195, 226, 0.95);
    background-color: #2A2E43;
    border-color: #2A2E43;
}

.btn-success:hover{
    border-color: #2A2E43;
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: none;
}

/* .dropdownmenu {
    right: 10px;
    background: #2A2E43;
    border-radius: 0px;
    width: 96.5%;
} */


.dropdownmenu:hover{
    background: rgb(57, 62, 90);
}

.show .dropdown-menu{ /*fixed major bug on routing side bar -Jerry*/
    transform: translate3d(0px, 70px, 0px) !important;
    background: #2A2E43;
    width: 375px;
}

.hamburger-options-parent .dropdownitem {
    color: white;
}

.hamburger-options-parent .dropdownitem:hover {
    color: white;
    text-decoration: none;
}

.hamburger-options-parent .dropdownitem:hover {
    background: #2A2E43;
    color: white;
}

.hamburger-options-parent .dropdownitem1 {
    color: white;
}

.logoutclass {
    margin-left: 10px;
    margin-top: 3px;
}

.sidebar-menu-item {
    display: flex;
}

.navlinkclass {
    display: flex;
    margin-right:10px;
}

.navlinkclassBorder{
    display:flex;
    border-bottom: 1px solid rgba(237, 238, 241, 0.2);

}
.navlinkclass h5{
    display:flex;
    font-size:14px;

}

.hamburger-options-parent .dropdownitem1:hover {
    background: rgb(57, 62, 90);
    color: white;
    text-decoration: none;
}