.vehicleForm-container{
  height: 1100px;
  width: 375px;
  /* margin:25px; */
  background-color: #2A2E43;
  }
  
  .back{
  height: 50px;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #00B2D9;
  background-color:#F8F9FA ;
  border-bottom: 1px solid rgba(248, 249, 250, 0.75);
  
  }
  
  .backButton{
   margin-left:20px;
   font-family: Heebo;
  /* font-style: normal;
  font-weight: 500; */
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  
  /* Primary 100% */
  
  color: #00B2D9;
  }
  
  .back-label{
  color:rgba(42, 46, 67, 0.8);
  font-size:14px;
  margin-top:0 16px;
  }
  
  #vehicleAddTitle{
  
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  
  /* White text */
  
  color: rgba(237, 238, 241, 0.95);
  margin-left:20px;
  }
  .name-label{
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: rgba(237, 238, 241, 0.95);
  margin-left:20px;
  }
  
  .vehicleName{
  width:335px;
  height:40px;
  background: #F8F9FA;
  border: 1px solid rgba(42, 46, 67, 0.3);
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom:10px;
  }
  
  .vehicle-spec-label{
  width:150px;
  height:35px;
  margin: 5px 0 0 13px;
  
  justify-content: left;
  align-items: flex-end;
  font-family: Helvetica;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: row;
  color: rgba(237, 238, 241, 0.95); 
  }
  
  .row1{
  height:30px;
  display:flex;
  flex-direction:row;
  margin:0 10px;
  }
  .width-label{
      margin:5px 0 0 29px;;
  }
  
  .weight-label{
      margin:5px 0 0 29px;;
  }
  
  .row2{
  height:100px;
  display:flex;
  justify-content: space-around;
  margin:0 10px;
      
  }
  .row2-block1{
  width:150px; 
  margin:0 15px;   
  display:flex;
  flex-direction: row;
  
  
  }
  
  .row2-block2{
  width:160px; 
  margin:0 15px; 
  display:flex;
  flex-direction: row;
  /* align-content: space-around; */
  
  }
  
  .measurements{
  
  width:60px;
  display: flex;
  flex-direction: row;
  
  }
  
  .measurements-input{
  height:65px;
  width:65px;
  border: 1px solid rgba(42, 46, 67, 0.3);
  box-sizing: border-box;
  border-radius: 3px;
  
  }
  
  .plus{
  width:20px;
  color: rgba(255, 255, 255, 0.95);
  margin:5px 10px;
  padding-top: 29px;
  font-size:25px;
  }
  .measurementsInput{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(237, 238, 241, 0.95)
  }
  
  .row3{
  display:flex;
  flex-direction:row;
  margin:0 10px;
      
  }
  .row4{
  display:flex;
  height:100px;
  display:flex;
  margin:0 5px;
  }
  
  .row4-block1{
  width:150px; 
  margin: 0 10px;  
  margin-right:5px; 
  display:flex;
  flex-direction: row;
  
  }
  .row4-block2{
  width:160px; 
  margin:0 5px 0 16px; 
  display:flex;
  flex-direction: row;
  
  }
  
  .row6{
  display:flex;
  flex-direction:row-reverse;
  margin-right:10px; 
  padding-right:20px;
  }
  
  .row6-block1{
  width:160px; 
  margin: 5px 0 16px; 
  display:flex;
  flex-direction: row;  
  }
  
  .row6-block2{
  width:160px; 
  margin:0 5px 0 16px; 
  display:flex;
  flex-direction: row;  
  }
  
  .row7{
      width:300px;
      height:75px;
      display:flex;
      flex-direction:row-reverse;
      align-items: left;
      margin:0 0 0 10px;
  }
  
  .row7-block1{
  width:185px; 
  margin: 5px 0 16px; 
  display:flex;
  flex-direction: row;  
  }
  
  .row7-block2{
  width:175px; 
  margin-right:5px; 
  display:flex;
  flex-direction: row;  
  }
  
  input{
  width:43px;
  height:45px;
  background: #F8F9FA;
  
  border: 1px solid rgba(42, 46, 67, 0.3);
  box-sizing: border-box;
  border-radius: 3px;
  }
  
  .pounds{
  width:150px;
  height:45px;
  margin-left:14px;
  }
  p.box7{
      
  }
  
  /* .class-radio{
  width:150px;
  height:35px;
  margin: 5px;
  
  justify-content: left;
  align-items: flex-end;
  font-family: Helvetica;
  font-size: 10px;
  line-height: 21px;
  display: flex;
  flex-direction: row;    
  
  } */
  
  .class-radios{
  
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
  /* margin-right: 30px; */
  width:180px;
  margin-left:5px;
  margin: 7px 10px 0 13px;
  
  }
  
  #input.v-class{
  width:25px;
  border:1px solid  rgba(237, 238, 241, 0.95); 
  background:purple;
  }
  
  /* .vehicle-class{
      margin-right:20px;
      justify-content:space-between ;
  } */
  p.radio-label{
      margin:15px 15px 15px 10px;
      
  }
  
  .row8{
      display:flex;
      flex-direction:column;
      align-items: left;
      margin:0px 10px 20px 10px; 
  }
  
  .dual-wheel{
      display:flex;
      flex-direction:row;
  }
  
  .tires{
      width:250px;
  }
  .tires-box{
      width: 18px;
      height: 18px;
      margin-left:13px;
      border:1px solid whitesmoke;
     
  }
  p.tires{
      margin:0 0 0 5px;
  }
  
  button{
      width:335px;
      height:45px;
      color:whitesmoke;
      background-color:#2A2E43;
      box-sizing: border-box;
      border-radius: 3px;
  
  }
  
  button:hover{
      background-color: #00B2D9;
      color:black;
  }
  
  .v-class{
      background:purple;
  }