.selected-vehicle {
    margin-top: 40px;
    visibility: hidden;
}

/* .dropdown dropdown btn-group{
    width
} */

.route-input, .selected-vehicle-dropdown-menu{
    /* margin-bottom: 22px; */
    /* margin-top:25px; */
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    font-family: Helvetica;
    padding-left: 30px;
    border: none;
    height: 45px;
    /* margin-bottom: 18px; */
}

.selected-vehicle-dropdown-menu {
    background-image: url(../../assets/img/gray-car.svg), url(../../assets/img/gray-down.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: center left, center right;
    content: '';
    background-position-x: 5px, 275px;
    height:45px;
    
}


.dropdown-menu-class {
    margin-top: 16px; /*<---- modified by Jerry to style initial form */
    /* margin-left: 18px; */
    /* margin-right: 18px; */
    text-align: left;
    height: 64px;
}

.what-vehcile-are-you-routing-with,
.where-are-you-going,
.choose-a-starting-point {
    display:flex;
    /* flex-direction:column; */
    align-items: left;
    font-family: Helvetica;
    color: #F8F9FA;
    margin-bottom: 2px;
    font-size: 13px;
    
}

.route-form {
    /* padding: 6px; */
    /* margin: 35px 5px 5px 5px; */
    /* font-family: Helvetica;
    margin-left: 18px; */
    /* margin-right: 18px; */
    margin-top: 14px;
}

.start-input-div {
    display:flex;
    flex-direction:column;
    align-items:left;
    margin: 16px 0;
    text-align: left; /* Modified by Jerry to style initial form */
    height: 64px;
}
.end-input-div {
    margin: 16px 0;
    text-align: left; /* Modified by Jerry to style initial form */
}

#start {
    background-image: url(../../assets/img/gray-location.svg);
    background-repeat:no-repeat;
    background-position: center left;
    background-position-x: 5px;
    height: 45px;
    width: 339px;
    /* margin-bottom: 18px; */
}

#end {
    background-image: url(../../assets/img/gray-search.svg);
    background-repeat:no-repeat;
    background-position: center left;
    background-position-x: 5px;
    height: 45px;
    width: 339px;
}

#route-button{
    /* width: 120px;
    margin-left: 180px;
    border-radius: 4px; */
    /* position: absolute; */
    /* left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%; */
    /* Primary 100% */
    background: #00B2D9;
    border-radius: 3px;
    /* We need to make it display when we need it -Noor */
    /* visibility: hidden; */
    color: white;
    width: 339px;
    border: none;
    height: 45px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}

.routingFormDropdownInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
}
